{% extends "base.html" %}

{% block title %}
{{ pokemon.name }}
{% endblock title %}

{% block content %}

<div class="row mt-5">

    <div class="col-md-5">

        <div class="detail-box text-center">

            <img src="{{ pokemon.picture.url }}"
                 class="img-fluid pokemon-img">

        </div>

    </div>

    <div class="col-md-7">

        <div class="detail-box">

            <h2>{{ pokemon.name }}</h2>

            <span class="badge bg-primary">
                {{ pokemon.get_type_display }}
            </span>

            <hr>

          <p>
    <strong>Altura:</strong>
    {{ pokemon.height|floatformat }} metros
</p>

<p>
    <strong>Peso:</strong>
    {{ pokemon.weight|floatformat }} kilogramos
</p>

            <p>
                <strong>Entrenador:</strong>
                {{ pokemon.trainer }}
            </p>

            <a href="/"
               class="btn btn-primary mt-3">
                Volver
            </a>

        </div>

    </div>

</div>

{% endblock content %}