{% extends "base.html" %}

{% block title %}
{{ trainer }}
{% endblock title %}

{% block content %}

<div class="detail-box mt-5">

    <div class="text-center mb-4">

        <i class="fa-solid fa-user fa-5x text-primary"></i>

        <h2 class="mt-3">
            {{ trainer }}
        </h2>

    </div>

    <ul class="list-group">

        <li class="list-group-item">
            <strong>Nombre:</strong>
            {{ trainer.first_name }}
        </li>

        <li class="list-group-item">
            <strong>Apellido:</strong>
            {{ trainer.last_name }}
        </li>

        <li class="list-group-item">
            <strong>Fecha de nacimiento:</strong>
            {{ trainer.birth_date }}
        </li>

        <li class="list-group-item">
            <strong>Nivel:</strong>
            {{ trainer.level }}
        </li>

    </ul>

    <a href="/"
       class="btn btn-primary mt-4">
       Volver
    </a>

</div>

{% endblock content %}