{% extends "base.html" %}
{% block title %}{{ pokemon | capfirst }}{% endblock title %}
{% block content %}
<p>Has elegido el pokemon: <strong>{{ pokemon | capfirst }}</strong></p>
<h3> Detalles del Pokemon </h3>
<ul class="list-group">
    <li class="list-group-item">
    <strong> Nombre: </strong> {{pokemon | capfirst }}
    </li>
    <li class="list-group-item">
    <strong> Tipo: </strong> {{pokemon.type | capfirst }}
    </li>
    <li class="list-group-item">
    <strong> Altura: </strong> {{pokemon.height }} metros
    </li>
    <li class="list-group-item">
    <strong> Peso:</strong> {{pokemon.weight }} kilogramos
    </li>
    <li class="list-group-item">
    <strong> Entrenador:</strong> {{pokemon.trainer }} 
    </li>
</ul>
<a href="/" class="btn btn-primary mt-3">Volver</a>
{% endblock content %}