{% extends "base.html" %}
{% block title %}{{ trainer }}{% endblock %}

{% block content %}

<div class="row mt-5">

    <div class="col-md-5">
        {% if trainer.picture %}
        <div class="detail-box text-center">
            <img src="{{ trainer.picture.url }}" alt="{{ trainer }}"
                 class="img-fluid pokemon-img">
        </div>
        {% endif %}
    </div>

    <div class="col-md-7">
        <div class="detail-box">

            <h2>{{ trainer }}</h2>

            <hr>

            <p>
                <strong>Nombre:</strong>
                {{ trainer.first_name }}
            </p>

            <p>
                <strong>Apellido:</strong>
                {{ trainer.last_name }}
            </p>

            <p>
                <strong>Fecha de nacimiento:</strong>
                {{ trainer.birth_date }}
            </p>

            <p>
                <strong>Nivel:</strong>
                {{ trainer.level }}
            </p>

            <div class="d-flex gap-2 mt-3">
                <a href="/" class="btn btn-primary">Volver</a>
            </div>

        </div>
    </div>

</div>

{% endblock %}